[defaults]
# -- CLI Output -- #
# Callback Options
stdout_callback = ansible.builtin.default
bin_ansible_callbacks = True
callback_result_format = yaml
callback_format_pretty = true
callback_result_indentation = 2
callback_result_yaml_line_width = terminal-width
# Displaying Options
show_custom_stats = true # Whether to display custom stats (set by set_stats plugin)
show_per_host_start = true # Whether to display when a task starts to execute for each host
show_task_path_on_failure = true # Whether to display the file & line of a failed task
display_failed_stderr = true # Whether failed tasks are displayed to STDERR rather than STDOUT
display_included_hosts = false # Whether to include task/host results
display_ok_hosts = true # Whether to display 'ok' task/host results
display_skipped_hosts = false # Whether to display skipped task/hosts results
check_mode_markers = true # Whether to display markers when running in check mode
# Style
nocows = true  # disable default cow ascii art
force_color = true  # forces colors for TTYs without color support
roles_path = "./roles"
interpreter_python = "auto_silent"
deprecation_warnings = True

[privilege_escalation]
become_user = "root"

[colors]
debug = "purple"
console_prompt = "white"
deprecate = "purple"
diff_add = "green"
diff_lines = "cyan"
diff_remove = "red"
error = "red"
highlight = "gray"
ok = "green"
changed = "purple"
skip = "cyan"
unreachable = "red"
verbose = "blue"
warn = "yellow"
