files/firefox_data/cache2 
files/firefox_data/datareporting
files/firefox_data/sessionstore-backups
files/firefox_data/startupCache
files/firefox_data/sessionstore-logs
files/firefox_data/weave
files/firefox_data/thumbnails
files/firefox_data/storage
